.preloader {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.preloader--hide{
  display: none;
}
.preloader__loader,
.preloader__percent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.preloader__percent {
  font-size: 16px;
  font-weight: bold;
}

@keyframes ldio-u4or3drdfrg {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.34, 1.34);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-u4or3drdfrg div>div {
  position: absolute;
  width: 16.44px;
  height: 16.44px;
  border-radius: 50%;
  background: #a100ff;
  animation: ldio-u4or3drdfrg 1s linear infinite;
}

.ldio-u4or3drdfrg div:nth-child(1)>div {
  left: 101.5px;
  top: 60.5px;
  animation-delay: -0.875s;
}

.ldio-u4or3drdfrg>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 109.72px 68.72px;
}

.ldio-u4or3drdfrg div:nth-child(2)>div {
  left: 89.5px;
  top: 89.5px;
  animation-delay: -0.75s;
}

.ldio-u4or3drdfrg>div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 97.72px 97.72px;
}

.ldio-u4or3drdfrg div:nth-child(3)>div {
  left: 60.5px;
  top: 101.5px;
  animation-delay: -0.625s;
}

.ldio-u4or3drdfrg>div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 68.72px 109.72px;
}

.ldio-u4or3drdfrg div:nth-child(4)>div {
  left: 31.5px;
  top: 89.5px;
  animation-delay: -0.5s;
}

.ldio-u4or3drdfrg>div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 39.72px 97.72px;
}

.ldio-u4or3drdfrg div:nth-child(5)>div {
  left: 19.5px;
  top: 60.5px;
  animation-delay: -0.375s;
}

.ldio-u4or3drdfrg>div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 27.72px 68.72px;
}

.ldio-u4or3drdfrg div:nth-child(6)>div {
  left: 31.5px;
  top: 31.5px;
  animation-delay: -0.25s;
}

.ldio-u4or3drdfrg>div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 39.72px 39.72px;
}

.ldio-u4or3drdfrg div:nth-child(7)>div {
  left: 60.5px;
  top: 19.5px;
  animation-delay: -0.125s;
}

.ldio-u4or3drdfrg>div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 68.72px 27.72px;
}

.ldio-u4or3drdfrg div:nth-child(8)>div {
  left: 89.5px;
  top: 31.5px;
  animation-delay: 0s;
}

.ldio-u4or3drdfrg>div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 97.72px 39.72px;
}

.loadingio-spinner-spin-mijmq2wj8sk {
  width: 137px;
  height: 137px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}

.ldio-u4or3drdfrg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-u4or3drdfrg div {
  box-sizing: content-box;
}